<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
   <system>
      <section id="bat_integrations" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
         <resource>Bat_Integration::integrations</resource>
         <group id="encr_decr" translate="label" type="password" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Data Encrypt - Decrypt Configuration</label>
            <field id="secret_key" translate="label" type="password" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
               <label>Secret Key</label>
               <validate>required-entry</validate>
            </field>
            <field id="iv_key" translate="label" type="password" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
               <label>IV Key</label>
               <validate>required-entry</validate>
            </field>
            <field id="cipher" translate="label" type="password" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
               <label>Cipher Algorithm</label>
               <validate>required-entry</validate>
            </field>
         </group>
      </section>
   </system>
</config>
