<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bat_general_config" translate="label" sortOrder="10">
            <label>BAT</label>
        </tab>
        <section id="payment_deadline" showInDefault="1" showInWebsite="1" showInStore="1" type="text" translate="Payment Deadline" sortOrder="200">
            <label>Payment Deadline</label>
            <tab>bat_general_config</tab>
            <resource>Bat_OrderProducts::config_payment_deadline</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20">
                <label>General Settings</label>
                <field id="payment_deadline" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Payment deadline in Days</label>
                    <validate>required-entry validate-digits</validate>
                </field>
            </group>
        </section>
    </system>
</config>
