<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
    <tab id="bat_general_config" translate="label" sortOrder="10">
            <label>BAT</label>
        </tab>
        <section id="general_settings" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
            <class>separator-top</class>
            <label>Quantity Configuration</label>
            <tab>bat_general_config</tab>
            <resource>Bat_GetCartGraphQl::bat_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Minimum and Maximum Quantity Configuration</label>                
                <field id="minimum_qty_per_cart" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Minimum Quantity Per Cart</label>   
                </field>
                <field id="maximum_qty_per_cart" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Maximum Quantity per Cart</label>   
                </field>
            </group>
        </section>
    </system>
</config>