<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
   <system>
      <section id="bat_integrations" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
         <class>separator-top</class>
         <label>Bat Integrations</label>
         <tab>bat_general_config</tab>
         <resource>Bat_Integration::integrations</resource>
         <group id="bat_order" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>EDA Order Integration Configuration</label>
            <field id="eda_order_cron_schedule" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
               <label>Create/Update Order Cron Schedule</label>
               <validate>required-entry</validate>
            </field>
            <field id="eda_order_endpoint" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
               <label>Create/Update Order endpoint</label>
               <validate>required-entry</validate>
            </field>
            <field id="eda_order_log" translate="label" type="select" sortOrder="10" showInDefault="6" showInWebsite="1" showInStore="0" canRestore="1">
               <label>Enable Order Logs</label>
               <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="eda_order_max_failures_allowed" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
               <label>Maximum Failure Attempts Allowed</label>
               <validate>required-entry validate-digits validate-not-negative-number validate-digits-range digits-range-1-100</validate>
            </field>
            <field id="order_status_required_to_update_eda" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
               <label>Order Status Required to Update EDA</label>
               <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
               <validate>required-entry</validate>
            </field>
         </group>
         <group id="bat_subscription" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
             <label>Subscription Key for EDA Integration</label>
             <field id="eda_subscription_key" translate="label" type="password" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                <label>EDA Subscription Key</label>
                <validate>required-entry</validate>
             </field>
         </group>
         <group id="bat_oauth" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
             <label>oAuth2 Configuration</label>
             <field id="eda_generate_auth_token_endpoint" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                <label>Generate Auth Token Endpoint</label>
                <validate>required-entry</validate>
             </field>
             <field id="eda_generate_auth_token_username" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                <label>Generate Auth Token Username</label>
                <validate>required-entry</validate>
             </field>
             <field id="eda_generate_auth_token_password" translate="label" type="password" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                <label>Generate Auth Token Password</label>
                <validate>required-entry</validate>
             </field>
         </group>
      </section>
   </system>
</config>
