<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <kakao>
            <setting>
                <is_active>0</is_active>
                <api_url>https://example.com</api_url>
                <api_key>ASDZXCQWE123123</api_key>
                <log_active>1</log_active>
                <sms_sender_number>9123456789</sms_sender_number>
            </setting>
            <template>
                <registration_otp>Hello {customer_name}
Your new registration OTP is {otp}.</registration_otp>
                <forgot_password_otp>Hello {customer_name},
Your forgot password OTP is {otp}.</forgot_password_otp>
            </template>
        </kakao>
    </default>
</config>
